<div class ="second_image">
  <div class="content">
    <div class ="text-color">
      <h1 class="new-disc text-center">Chat Room List</h1>
    </div>
        <div class="container">
      	 <div class="row">
      		    <div class="col-8 offset-2">
      			    <% @anotherEntries.each do |entry| %>
      				    <table class="table table-striped">
      					    <tr class="title", style="font-size: 30px; color: white;">
                      <td>
                        <%= attachment_image_tag @customer, :profile_image, fallback: "no_image.jpg", size: "100x100", class: "center-block" %>
                      </td>
      						    <td>
        							  <%= link_to customers_room_path(entry.room_id) do %>
          						<!--%= attachment_image_tag entry.user, :image, :fill, 50, 50, format:'jpeg', fallback: "no_image.jpeg", size:'50×50' %-->
          							<%= entry.customer.nickname %>
        							  <% end %>
        						  </td>
        						  <td class="title", style="font-size: 30px; color: white;">
        							  <% direct_message = DirectMessage.find_by(id: entry.room.direct_message_ids.last) %>
        							<!--%= truncate(direct_message,length: 10) %-->
        						  </td>
                      <div class="title", style="font-size: 30px; color: white;">
        							  <%= entry.updated_at.strftime('%Y/%m/%d') %>
        						  </div>
        						  <td class="title", style="font-size: 30px; color: white;">
        							  <%= entry.updated_at.strftime('%H:%M') %>
        						  </td>
        				    </tr>
        				  </table>
                  <hr>
      			    <% end %>
              </div>
      		  </div>
    	    </div>
      </div>
  </div>