  <div class="top_image">
    <div class="a">
      <%= image_tag 'IMG_1261.JPG' %>
      <%= image_tag 'IMG_6183.JPG' %>
      <%= image_tag 'IMG_6194.JPG' %>
    </div>
    <div class="content">
     <div class="container">
      <div class="row">
        <div class="wrapper">
          <div class="col-md-9 col-md-offset-2">
          <h1 class="new-information">News</h1>
            <% @information.each do |information| %>
              <div class="example">
                <span class="fadeInUp">
                  <button type="button" class="btn btn05">
                    <%= link_to customers_information_path(information) do %>
                      <div class="text-left">
                        <%= information.created_at.strftime('%Y/%m/%d') %><br>
                      </div>
                      <%= information.title %>
                    <% end %>
                  </button>
                  <hr>
                </span>
              </div>
             <% end %>
                  <div class ="back text-center">
                    <span class="fadeInUp">
                      <%= link_to 'All News', customers_informations_path, class: "btn-default" %>
                    </span>
                  </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="wrapper">
        <div class="col-md-9 col-md-offset-1">
        	<div class="video-content">
  		      <h2 class="new-video">Video</h2>
            <% @video.each do |video| %>
               <div class = "movie">
                <span class="fadeInUp">
                   <%= video_tag video.video.to_s, loop: false, controls: true, :playsinline => 'false', autoplay: false, size: "300×150", class: "content embed-responsive-video" %>
                </span>
               </div>
               <% end %>
                <div class ="back text-center">
                  <span class="fadeInUp">
                    <%= link_to 'All Videos', customers_videos_path, class: "btn-default" %>
                  </span>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="wrapper">
        <div class="col-md-9 col-md-offset-1">
            <h1 class="new-live">Live</h1>
              <% @live.each do |live| %>
                <div class="example">
                  <span class="fadeInUp">
                    <button type="button" class="btn btn05">
                      <%= link_to customers_life_path(live) do %>
                        <div class="text-left">
                          <%= live.created_at.strftime('%Y/%m/%d') %><br>
                        </div>
                        <%= live.title %>
                      <% end %>
                    </button>
                  </span>
                </div>
                <hr>
              <% end %>
              <div class ="back text-center">
                <span class="fadeInUp">
                  <%= link_to 'All Live', customers_lives_path, class: "btn-default" %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
