<div class ="second_image">
  <div class="a">
      <%= image_tag 'cache_Messagep567359.jpg' %>
      <%= image_tag 'IMG_5215.JPG' %>
      <%= image_tag 'Snapseed.jpg' %>
  </div>
  <div class="content">
    <div class="container">
      <div class ="text-color">
        <div class="row">
          <div class="wrapper">
            <div class="col-md-9 col-md-offset-0">
            <h1 class="new-topic">topic</h1>
              <% @topics.each do |topic| %>
                <div class="example">
                  <span class="fadeInUp">
                <button type="button" class="btn btn06">
                  <%= link_to customers_topic_path(topic) do %>
                  <div class="text-left">
                    <%= topic.created_at.strftime('%Y/%m/%d') %>
                  </div>
                  <div class="news-title">
                    <%= topic.title %>
                  </div>
                  <% end %>
                </button>
                </span>
                 </div>
                <hr>
            <% end %>
            <div class ="text-center back">
              <%= link_to 'All Topics', customers_topics_path, class: "btn-default" %>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class ="text-color">
    <div class="row">
      <div class="wrapper">
        <div class="col-md-9 col-md-offset-0">
          <div class="video-content">
            <h2 class="new-movie">Movie</h2>
            <% @movie.each do |movie| %>
            <div class = "movie">
              <span class="fadeInUp">
                <%= video_tag movie.movie.to_s, loop: false, controls: true, :playsinline => 'false', autoplay: false, size: "300×150", poster: "IMG_4438.jpg", class: "content embed-responsive-video" %>
              </span>
            </div>
            <% end %>
              <div class ="text-center back">
                <%= link_to 'All Movie', customers_movies_path, class: "btn-default" %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        <div class ="text-color">
          <div class="row">
            <div class="wrapper">
              <div class="col-md-9 col-md-offset-0">
                <h1 class="new-topic">Blog</h1>
                  <% @blog.each do |blog| %>
                    <div class="example">
                      <span class="fadeInUp">
                      <button type="button" class="btn btn06">
                        <%= link_to customers_blog_path(blog) do %>
                        <div class="text-left">
                          <%= blog.created_at.strftime('%Y/%m/%d') %>
                        </div>
                        <div class="news-title">
                          <%= blog.title %>
                        </div>
                        <% end %>
                      </button>
                      </span>
                    </div>
                    <hr>
                  <% end %>
                  <div class="text-center back">
                    <%= link_to 'All Blogs', customers_blogs_path, class: "btn-default" %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
