<div class ="second_image">
  <div class="content">
    <div class="tbody" style="width:100%;">
      <section class="container kazu">
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
            <div class="col-xs-5 cus-show"style= "width: 500px;">
              <div class ="text-color">
                <h4 class="new-disc">Fans Information</h4>
              </div>
                <table class="table">
                  <tbody>
                      <%= form_for(@customer,url: customers_customer_path) do |f| %>
                          <div class="form group">
                              <div class="form-inline">
                               <button type="button" class="col-lg-2 btn btn-xs btn-dark show-btn" disabled="disabled">プロフィール画像</button>
                                 <div class="col-sm-10" style= "padding:13px;">
                                  <%= f.attachment_field :profile_image %>
                                 </div>
                              </div>
                          </div>
                          <div class="form group">
                            <div class="form-inline">
                              <button type="button" class=" col-sm-2 btn btn-xs btn-dark show-btn" disabled="disabled">お名前</button>
                              <div class="col-sm-10"style= "padding:0px,2px;">
                                <%= f.text_field :last_name,id:"customer_last_name",placeholder:"名前",rows: 7,class: "form-control", :size => "10*10" %>
                                <%= f.text_field :first_name,id:"customer_first_name",placeholder:"名前",rows: 7,class: "form-control",:size => "10*10"%>
                            </div>
                          </div>
                            <div class="form group">
                              <div class="form-inline">
                                <button type="button" class=" col-sm-2 btn btn-xs btn-dark show-btn" disabled="disabled">お名前(カナ)</button>
                              <div class="col-sm-10" style= "padding:15px;">
                                <%= f.text_field :last_name_kana,id:"customer_last_name_kana",placeholder:"名前（カナ）",rows: 7,class: "form-control",:size => "10*10"%>
                                <%= f.text_field :first_name_kana,id:"customer_first_name_kana",placeholder:"名前（カナ）",rows: 7,class: "form-control",:size => "10*10"%>
                              </div>
                            </div>
                           </div>
                           <div class="form group">
                              <div class="form-inline">
                               <button type="button" class="col-lg-2 btn btn-lg btn-dark show-btn" disabled="disabled">ニックネーム</button>
                                 <div class="col-sm-10" style= "padding:10px;">
                                  <%= f.text_field :nickname,id:"customer_email",placeholder:"ニックネーム",rows: 7,class: "form-control"%>
                                 </div>
                              </div>
                          　</div>
                            <div class="form group">
                              <div class="form-inline">
                                <button type="button" class="col-lg-2 btn-xs btn-dark show-btn" disabled="disabled">住所1</button>
                                <div class="col-sm-10" style= "padding:0px,4px;">
                                  <%= f.text_field :postal_code,id:"customer_postal_code",placeholder:"郵便番号",rows: 7,class: "form-control",:size => "10*10"%>
                                </div>
                                <div class="col-lg-2"></div>
                                  <div class="col-sm-10" style= "padding:15px;">
                                    <%= f.text_area :address,id:"customer_adress",placeholder:"住所1",rows: 7,class: "form-control",:size => "40*40"%>
                                  </div>
                              </div>
                            </div>
                            <div class="form group">
                              <div class="form-inline">
                                <button type="button" class="col-lg-2 btn btn-xs btn-dark show-btn" disabled="disabled">電話番号</button>
                                <div class="col-sm-10" style= "padding:0px,3px;">
                                  <%= f.text_field :phone_number,id:"customer_phone_number",placeholder:"電話番号",rows: 7,class: "form-control",:size => "10*10"%>
                                </div>
                              </div>
                            </div>
                            <div class="form group">
                              <div class="form-inline">
                               <button type="button" class="col-lg-2 btn btn-xs btn-dark show-btn" disabled="disabled">email</button>
                                 <div class="col-sm-10" style= "padding:10px;">
                                  <%= f.text_field :email,id:"customer_email",placeholder:"メールアドレス",rows: 7,class: "form-control"%>
                                 </div>
                              </div>
                            </div>
                            <div class="form group">
                              <div class="form-inline">
                               <button type="button" class="col-lg-2 btn btn-xs btn-dark show-btn" disabled="disabled">好きなアーティスト</button>
                                 <div class="col-sm-10" style= "padding:10px;">
                                  <%= f.text_field :artist,id:"customer_email",placeholder:"好きなアーティスト",rows: 7,class: "form-control"%>
                                 </div>
                              </div>
                          　</div>
                          　<div class="form group">
                              <div class="form-inline">
                               <button type="button" class="col-lg-2 btn btn-lg btn-dark show-btn" disabled="disabled">好きなジャンル</button>
                                 <div class="col-sm-10" style= "padding:10px;">
                                  <%= f.text_field :genre,id:"customer_email",placeholder:"好きなジャンル",rows: 7,class: "form-control"%>
                                 </div>
                              </div>
                          　</div>
                            <div class="form group">
                              <div class="form-inline">
                               <button type="button" class="col-lg-2 btn btn-lg btn-dark show-btn" disabled="disabled">最近行ったライブ</button>
                                 <div class="col-sm-10" style= "padding:10px;">
                                  <%= f.text_field :live,id:"customer_email",placeholder:"最近行ったライブ",rows: 7,class: "form-control"%>
                                 </div>
                              </div>
                          　</div>
                            <div class="actions">
                              <%= f.submit "保存", method: :PATCH, class:"btn btn-block btn-dark btn-sm ",:size => "10*10" %>
                              <%= link_to "退会する",customers_customers_hide_path(@customer), method: :put, class:"btn btn-block btn-light btn-sm ", data: { confirm: '本当に削除して良いですか?',cancel: 'やめる',commit: '削除する'}, title: '削除確認' %>
                            </div>
                      <% end %>
                  </tbody>
                </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


