<div class="top_image">
  <div class="content">
    <%= link_to 'New Blog', new_admin_blog_path, class: "btn-circle-border-double-second" %>

    <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-offset-2">
          <h1 class="new-live">Blog</h1>
            <% @blog.each do |blog| %>
              <div class="example">
                <button type="button" class="btn btn-light">
                  <div class="text-left">
                    <%= blog.created_at.strftime('%Y/%m/%d') %><br>
                  </div>
                  <%= link_to admin_blog_path(blog) do %>
                  <div class="news-title">
                    <%= blog.title %>
                  </div>
                <% end %>
              </button>
              </div>
                <hr>
            <% end %>
            <div class = "col-md-9 col-md-offset-3">
              <%= paginate @blog, class: "paginate" %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
